.search-form {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  margin-top: calc(-1 * 10px);
  margin-left: calc(-1 * 10px);
}

.photo-card {
  border: 1px solid;
}

li {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li:nth-child(3n + 3) {
  margin-right: 0;
}

img {
  display: block;
  width: 400px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: pink;
  width: 150px;
  border-radius: 7px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.is-hidden {
  visibility: hidden;
}
